<h1>Charts</h1>
<div style="width:800px;">
    <app-bar-chart *ngIf="chartData" [data]="chartData"></app-bar-chart>
</div>

<div style="width:800px;">
    <app-bar-chart *ngIf="chartData2" [data]="chartData2" [showXAxis]="show_x" [showYAxis]="show_y" [color-list]="colors" [threshold-list]="thresholds" [enable-tooltip]="enableTooltip" [x]="x" [y]="y" [show-object-data-on-tooltip]="showExtraData" ></app-bar-chart>
</div>

<div style="width:800px;">
    <app-bar-chart *ngIf="chartData2" [data]="chartData2" [showYAxis]="show_y" [color-list]="colors2" [enable-tooltip]="enableTooltip" [x]="x" [y]="y" [show-object-data-on-tooltip]="showExtraData" ></app-bar-chart>
</div>

<div style="width:800px">
    <app-stacked-bar-chart *ngIf="stackedChartData" [data]="stackedChartData" (data-click)="mostrarClick($event)" [x]="x_attr"></app-stacked-bar-chart>
</div>


<div style="width:800px">
    <app-stacked-bar-chart *ngIf="stackedChartData2" [data]="stackedChartData2" (data-click)="mostrarClick($event)" [x]="x_attr"></app-stacked-bar-chart>
</div>

<div style="width:800px">
    <app-stacked-bar-chart *ngIf="stackedChartData2" [group-by]="groupByWeek"  [data]="stackedChartData2" (data-click)="mostrarClick($event)" [x]="x_attr"></app-stacked-bar-chart>
</div>

<div style="width:800px">
    <app-stacked-bar-chart *ngIf="stackedChartData2" [group-by]="groupByMonth"  [data]="stackedChartData2" (data-click)="mostrarClick($event)" [x]="x_attr"></app-stacked-bar-chart>
</div>

<div style="width:800px">
    <app-line-chart *ngIf="stackedChartData2" [data]="stackedChartData2" [x]="x_attr"></app-line-chart>
</div>

<div style="width:600px;height:600px">
    <app-pie-chart *ngIf="pieChartData" [data]="pieChartData" (data-click)="mostrarClick($event)"></app-pie-chart>
</div>
