








<div *ngFor="let card of cards">
    <div [ngSwitch]="card.config.type"> 
            <div *ngSwitchCase="'bar'"> 
                <p>Bar chart</p>
                {{card.data | json}}
                <app-bar-chart style="width:800px; height: 400px"
                    *ngIf="card.data"
                    [configObject]="card.config"
                    [data]="card.data">
                </app-bar-chart>
            </div>
            <div *ngSwitchCase="'stacked'"> 
                <p>Stacked bar</p>
                {{card | json}}
                <app-stacked-bar-chart style="width:800px; height: 400px"
                    [configObject]="card.config"
                    [data]="card.data">
                </app-stacked-bar-chart>
            </div>
        <div *ngSwitchOtherwise> 
            <div>Card Content Here</div>

        </div>
    </div>
</div>


<h1>Charts</h1>


<app-horizontal-bar style="width:800px; height:40px" 
                    *ngIf="horizontalBarData"
                    [data]="horizontalBarData"
                    [color-list]="colors2">
</app-horizontal-bar>


<app-line-chart style="width:800px; height: 400px" 
                *ngIf="stackedChartData2" 
                [data]="stackedChartData2"
                [x]="x_attr">
</app-line-chart>

<app-pie-chart style="width:800px; height: 400px" 
                *ngIf="pieChartData"
                [data]="pieChartData"
                (data-click)="mostrarClick($event)">
</app-pie-chart>
{{chartData|json}}
<app-brushable-bars style="width:840px; height: 260px; padding:5px"
                    [data]="chartData"
                     (selection)="mostrarClick($event)"></app-brushable-bars>
