<h1>Charts</h1>

<app-bar-chart style="width:800px; height: 400px"
                *ngIf="chartData"
                [data]="chartData"
                [format-values]="yFormat">
</app-bar-chart>

<app-bar-chart style="width:800px; height: 400px"
                *ngIf="chartData2"
                [data]="chartData2"
                [showYAxis]="false_value"
                [color-list]="colors2"
                [enable-tooltip]="enableTooltip"
                [x]="x"
                [y]="y"
                [show-object-data-on-tooltip]="showExtraData">
</app-bar-chart>

<app-bar-chart style="width:800px; height: 400px" 
             *ngIf="chartData3"
             [data]="chartData3"
             [type-datetime]="true_value"
             [showXAxis]="false_value"
             [showYAxis]="false_value"
             [color-list]="colors"
             [threshold-list]="thresholds"
             [enable-tooltip]="enableTooltip"
             [x]="x"
             [y]="y"
             [show-object-data-on-tooltip]="showExtraData" >
</app-bar-chart>

<app-horizontal-bar style="width:800px; height:40px" 
                    *ngIf="horizontalBarData"
                    [data]="horizontalBarData"
                    [color-list]="colors2">
</app-horizontal-bar>


<app-stacked-bar-chart style="width:800px; height: 400px" 
                        *ngIf="stackedChartData"
                        [data]="stackedChartData"
                        (data-click)="mostrarClick($event)"
                        [x]="x_attr">
</app-stacked-bar-chart>


<app-stacked-bar-chart style="width:800px; height: 400px" 
                        *ngIf="stackedChartData2"
                        [data]="stackedChartData2"
                        (data-click)="mostrarClick($event)"
                        [x]="x_attr"
></app-stacked-bar-chart>


<app-stacked-bar-chart style="width:800px; height: 400px" 
                        *ngIf="stackedChartData2"
                        [group-by]="groupByWeek"
                        [data]="stackedChartData2"
                        (data-click)="mostrarClick($event)"
                        [x]="x_attr">
</app-stacked-bar-chart>


<app-stacked-bar-chart style="width:800px; height: 400px"
                        *ngIf="stackedChartData2"
                        [group-by]="groupByMonth"
                        [data]="stackedChartData2"
                        (data-click)="mostrarClick($event)"
                        [x]="x_attr">
</app-stacked-bar-chart>


<app-line-chart style="width:800px; height: 400px" 
                *ngIf="stackedChartData2" 
                [data]="stackedChartData2"
                [x]="x_attr">
</app-line-chart>


<app-stacked-bar-chart style="width:800px; height: 200px" 
                        *ngIf="stackedChartData3" 
                        [data]="stackedChartData3"
                        [showYAxis]="false_value" 
                        [showLegend]="false_value"
                        [bar-width-limits]="barWidths"
                        [limit-x-values]="limitX"
                        [x]="x_attr" 
                        [ys]="y_attrs" 
                        [show-object-data-on-tooltip]="showExtraData" 
                        [group-elements]="false_value"
                        [format-values]="format_percentage"
                        [colors]="colors3">
</app-stacked-bar-chart>

<app-stacked-bar-chart style="width:800px; height: 200px" 
                        *ngIf="stackedChartData4" 
                        [data]="stackedChartData4"
                        [showYAxis]="false_value"
                        [limit-x-values]="limitX" 
                        [showLegend]="false_value"
                        [bar-width-limits]="barWidths"
                        [x]="x_attr" 
                        [ys]="y_attrs" 
                        [show-object-data-on-tooltip]="showExtraData" 
                        [group-elements]="false_value"
                        [format-values]="format_percentage"
                        [colors]="colors3">
</app-stacked-bar-chart>

<app-pie-chart style="width:800px; height: 400px" 
                *ngIf="pieChartData"
                [data]="pieChartData"
                (data-click)="mostrarClick($event)">
</app-pie-chart>


